
@font-face {
  font-family:myFont ;
  src: url(/public/fonts/expoFont.TTF);
}

*{
  margin: 0;
  padding:0;
}


:root{
  --primaryFont:#DECFEC;
  --blue:#93BEFF;
  --yellow:#F6CD46;
  --mauve:#D9BEF4;
  --purple:#8D70AA;

}
.container{
  
}


body {
  background-color:#463B66;
  


}

.flex{
  display:flex;
}
.border{
  border:1px solid red
}
